
a#qtcppintegration-introLink img { background-image : url(graphics/logo.png); }
a#qtcppintegration-introLink:hover img { background-image : url(graphics/logo_hov.png); }

a#qtcppintegration-samplesLink img { background-image : url(graphics/logo.png); }
a#qtcppintegration-samplesLink:hover img { background-image : url(graphics/logo_hov.png); }

a#qtcppintegration-tutorialsLink img { background-image : url(graphics/logo.png); }
a#qtcppintegration-tutorialsLink:hover img { background-image : url(graphics/logo_hov.png); }

a#qtcppintegration-whatsNewLink img { background-image : url(graphics/logo.png); }
a#qtcppintegration-whatsNewLink:hover img { background-image : url(graphics/logo_hov.png); }
